<% if @test_passage.test_result_check %>

<h1> Ура! </h1>
<p>
  Поздравляем! Вы сдали <b><%= @test.title%></b> тест
  Почему бы не пройти что-то еще
</p>

<% else %>
<h1> Попробуйте еще раз! </h1>
<p>
  К сожалению, Вы не сдали <b><%= @test.title%></b> тест
  Почему бы не попробовать еще раз!
</p>

<% end %>
