
<div class="col-sm"  >
  <div class="card h-100">
      <%= image_tag(user_badge.badge.resized_small, class: "card-img-top") %>
    <div class="card-body" >
      <h5 class="card-title"><%=user_badge.badge.title%></h5>
    </div>
  </div>
</div>
