
<tr >

  <td class = "align-middle"><%=user_badge.badge.id %> </td>
  <td class = "align-middle"><%=user_badge.badge.title%> </td>
  <td class = "align-middle"><%=user_badge.badge.file_name%> </td>


</tr>
