

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%=t('id')%></th>
      <th scope="col"><%=t('.title')%></th>
      <th scope="col"><%=t('.file_name')%></th>
    </tr>
  </thead>

  <tbody>
    <%= render @user_badges %>

  </tbody>

</table>
