<h2>My Tests</h2>

<table>
  <% if @user.test_passages.present?%>
  <thead>
    <tr>
      <th>Test Passage ID</th>
      <th>Test Name</th>
      <th>Started at</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @user.test_passages.order(created_at: :desc).each do |tp| %>

    <tr>
      <td><%= tp.id %></td>
      <td><%= tp.test.title %></td>
      <td><%= tp.created_at %></td>
      <td><li><%= link_to "Continue", test_passage_path(tp)%></li></td>
    </tr>

    <% end %>

  <% else %>
    <p> You haven't started any test</p>



  <% end %>
  </tbody>


</table>
