<div class="container" >
  <div class="row">

      <h4 ><%= show_result(@test_passage) %></h4>
      <p></p>


    <div class="container" style = "border:none">
      <p>
        <%= link_to t('nav.back.tests'), tests_path, class: "btn btn-primary" %>
      </p>

    </div>
  </div>
</div>
