<footer>
  <h6> <%= Time.zone.now %> </h6>
  <h6> Author  cyberriver </h6>
  <h6><%= link_to "Сервис TestGuru", "https://github.com/cyberriver/rails_ed", :target => "_blank" %></h6>
  <h6><%= link_to "Учебный проект в онлайн-школе Thinknetica", "http://thinknetica.com/", :target => "_blank" %></h6>
</footer>
