


<li class="list-group-item">
  <div class="row align-items-start">
    <div class="col col-md">
      <%= answer.title%>
    </div>
    <div class="col-md-auto">
      <%= link_to t('edit'), edit_admin_answer_path(answer), class: "btn btn-warning"%>

    </div>
    <div class="col-md-auto">
      <%= button_to t('delete'), admin_question_path(@question),
                                         method: :delete, class: "btn btn-danger bi bi-eraser",
                                         form: {
                                           data: { confirm: t('confirm')}
                                         }%>
    </div>
  </div>
</li>
