.pointer{
  cursor: pointer;
}

.hide{
  display: none;
}

.menu-hover:hover{
  background-color: gray;
  color: black;
}

a:link {
  outline: none;
  text-decoration: none;
}

/* Это стили для не валидных полей */
.invalid{
  color: red;

}

.valid{
  color: green;

}
