.nav.user {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  position: relative;
  }

  .button {
  background-color: #1960F7; /* blue */
  display: block;
  margin-left: auto;
  margin-right: 0;

}
