
<% if resource.present? && resource.errors.any? %>


<div class="alert alert-info d-flex align-items-center" >
  <h4 class="alert-heading"> <%= t('admin.shared.errors.header', count: resource.errors.count) %></h4>

<ul>
  <% resource.errors.full_messages.each do |msg| %>
    <li><%= msg%></li>
  <% end %>

</ul>

</div>

<% end %>
